<div class="row" id="faqs">
    <div class="col-xs-12" id="tealContainer">
        <div class="row" id="whiteContainer">
            
            <div class="col-xs-12 visible-xs">
                <span class="divider">
                    <span>
                        FAQ
                    </span>
                </span>
            </div> 
            
            <div class="col-xs-12">
                <h2>Here you will find answers to our most common questions.</h2>
                <p>Click or tap on the question to show the answer.</p>
            </div>
            
            <!--start the accordians-->
            <div class="col-xs-12 questions">
                <div class="panel-group" id="accordion1">
	                <div class="panel panel-default">
				        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			                <h4 class="panel-title">
							   Far far away, behind the word mountains, far from the cou
							</h4>
					    </div>
				        <div id="collapseOne" class="panel-collapse collapse ">
					        <div class="panel-body">
							    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
						    </div>
					    </div>
					</div>
	              </div>
                
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <h4 class="panel-title">
                                Far far away, behind the word mountains, far from the cou
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion3">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                            <h4 class="panel-title">
                                Far far away, behind the word mountains, far from the cou
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion4">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
                            <h4 class="panel-title">
                                Far far away, behind the word mountains, far from the cou
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion5">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
                            <h4 class="panel-title">
                                Far far away, behind the word mountains, far from the cou
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion6">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix">
                            <h4 class="panel-title">
                                Far far away, behind the word mountains, far from the cou
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion7">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven">
                            <h4 class="panel-title">
                                Far far away, behind the word mountains, far from the cou
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>       
    </div>  
  </div>


